.background-container {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://source.unsplash.com/random/1920x1080?nature,technology")
      no-repeat center center;
  background-size: cover;
  color: white;
}
.card {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border: none;
}



/* @media screen and (max-width: 768px) {
  .bg-image {
    background-position: center top; 
    
  
  } */
/* } */

@media screen and (max-width : 768px) {
  .card-body{
    background-color: transparent;
  }
  .bg-image {
  background-image: url("../../../assests/mainlogo.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
  
}

