<div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Contact Information</h5>
      <div class="contact-info">
          <div class="contact-item d-flex justify-content-between py-2">
            <strong class="text-capitalize">Email </strong>
            <span>{{ contactInfo?.email }}</span>
          </div>
      </div>
       <div class="contact-info">
          <div class="contact-item d-flex justify-content-between py-2">
            <strong class="text-capitalize">Mobile </strong>
            <span>{{ contactInfo?.mobile }}</span>
          </div>
      </div>
    </div>
  </div>
</div>