<div class="card">
  <div class="card-title">Schedule Cron Job To Fetch Real Time Data Peridocally..</div>
  <div class="card-body">

    @for(ele of schedulerOpts();track ele){
      <span class="row p-1 border-bottom-0">
        <span class="col-6 ">Sync <b class="badge badge-sm  text-bg-secondary">{{ele?.name}} </b>Data</span>
        <span class="col-6"><button class="btn btn-sm btn-primary" (click)="onClickScheduler(ele?.key)"  [innerHTML]="ele.name + ' ' + ele.icon"></button></span>

      </span>

    }


  </div>

</div>

<div>
  <h4>Needs to Build Cron Type Jobs Running data can be fetched from db cron-logs</h4>
</div>