<div class="ai-container card shadow-sm rounded-4 border-0">
  <div class="ai-content p-3 bg-light overflow-auto" [innerHTML]="data()"></div>

  <div
    class="ai-input d-flex flex-row align-items-center p-3 border-top bg-white"
  >
    <input
      class="form-control flex-grow-1 rounded-pill px-3"
      placeholder="Type your message..."
      [formControl]="message"
      (keyup.enter)="getAiResponse()"
    />

    <button
      class="btn btn-primary rounded-circle ms-3 d-flex justify-content-center align-items-center"
      (click)="getAiResponse()"
      style="width: 48px; height: 48px"
    >
      <i class="fa-solid fa-arrow-up"></i>
    </button>
  </div>
</div>
